<ion-content [fullscreen]="true" style="align-items: center; text-align: center; align-self: center; ">
  <!-- Preloader -->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- fim do preloader -->

  <!-- Header -->
  <header id="inicio" class="header">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container">
          <!-- Image Logo -->
          <a class="navbar-brand" href="/"><img src="assets/icons/icon-72x72.png" alt="icon"></a>
          <!-- Mobile Menu Toggle Button -->
      </div> <!-- fim do container -->
      <div class="collapse navbar-collapse">
        <div style="color: aliceblue;">
        Bem vindo, {{user.fantasyName}}!
      </div>
      </div>
    </nav> <!-- fim do navbar -->
  </header>
  <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    viewBox="0 0 1920 310">
    <defs>
      <style>
        .cls-1 {
          fill: #3d2d10;
        }
      </style>
    </defs>
    <title>header-frame</title>
    <path class="cls-1"
      d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
  </svg>

  <div class="center">
    <div style="height: 80px;"></div>
    <div class="row">
      <div class="col-md-12" style="font-size: 38px;">
        <div style="font-size: 50px;">
          <h1
          style="font: Open Sans, sans-serif; font-size: 50px; color:#27221c; text-shadow: 2px 2px 2px #eab64f;">
          Pagina em construção.
        </h1>
        <p>QUAIS OS PRODUTOS TÊM DISPONÍVEL PARA DOAR?</p>
        <p>QUAIS AS REGIÕES TÊM DISPONIBILIDADE PARA DOAR?</p>
        <p>OBSERVAÇÃO: (informar a quantidade que pode doar; os dias que pode doar; etc)</p>
      </div>
      </div>      
    </div>
    <div style="height: 80px;"></div>
  </div>

  <!-- Footer -->
  <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
  viewBox="0 0 1920 79">
  <defs>
      <style>
          .cls-2 {
              fill: #526E2A;
          }
      </style>
  </defs>
  <title>footer-frame</title>
  <path class="cls-2"
      d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z"
      transform="translate(0 -0.188)" />
</svg>
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="footer-col first">
                  <h4>{{tituloFooter}}</h4>
                  <p class="p-small">{{textoFooter}}</p>
              </div>
          </div> <!-- fim do col -->
          <div class="col-md-4">
              <div class="footer-col middle">
                  <h4>Colaboradores</h4>
                  <ul class="list-unstyled li-space-lg p-small">
                      <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body"><a class="white" href="https://hackatrouble.com.br"
                                  target="_blank">https://hackatrouble.com.br</a></div>
                      </li>
                      <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body"><a class="white"
                                  href="https://www.bancodealimentos.org.br/parceiro"
                                  target="_blank">https://www.bancodealimentos.org.br/parceiro</a></div>
                      </li>
                      <li class="media">
                          <i class="fas fa-square"></i>
                          <div class="media-body"><a class="white" href="https://aws.amazon.com/"
                                  target="_blank">https://aws.amazon.com/</a></div>
                      </li>
                  </ul>
              </div>
          </div> <!-- fim do col -->
          <div class="col-md-4">
              <div class="footer-col last">
                  <h4>Contact</h4>
                  <ul class="list-unstyled li-space-lg p-small">
                      <li class="media">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="media-body">Rua dos benfeitores, Brasil, 00000-000, BR</div>
                      </li>
                      <li class="media">
                          <i class="fas fa-envelope"></i>
                          <div class="media-body"><a class="white"
                                  href="mailto:contact@rocaeats.com">contato@rocaeats.com</a></div>
                      </li>
                  </ul>
              </div>
          </div> <!-- fim do col -->
      </div> <!-- fim do row -->
  </div> <!-- fim do container -->
</div> <!-- fim do footer -->
<!-- fim do footer -->

<!-- Copyright -->
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <p class="p-small">Copyright © 2020 - Roça Eats</p>
          </div> <!-- fim do col -->
      </div> <!-- enf do row -->
  </div> <!-- fim do container -->
</div> <!-- fim do copyright -->
<!-- fim do copyright -->
</ion-content>
<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
      <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button>
              <ion-icon name="analytics-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="redirectMapa()">
              <ion-icon name="map-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="redirectExit()">
              <ion-icon name="exit-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
  </ion-toolbar>
</ion-footer> -->